// banners
.banner_paragrahp {
  color: $cream;
  font-size: $paragraph-two;
}
.banner_title {
  color: $cream;
  padding-top: 16px;
}
.header_banner {
  background-color: $header_banner;
  padding-bottom: 23px;
}
.second_banner {
  margin-top: 45px;
}
