// Paleta de color principal

$green-dark: #628469;
$orange: #DF8F63;
$coffe: #8A5B3B;
$cream: #FFF1DF;
$black: #242424;
$white: #fff;
$green-ligth: #B1BBA7;

// Paleta de grises

$gray-dark: #5C605D;
$gray-medium: #A7A7A7;
$gray-ligth: #DBDBDB;


// Fonts

$font-merriweather: 'Merriweather', serif;
$font-quicksand: 'Quicksand', sans-serif;

// Titulos y parrafos

$headlines-font-family: $font-merriweather;
$paragraph-font-family: $font-quicksand;

// Fonts size

$headline-one: 1.875rem; // 30px
$headline-two: 1.625rem; // 26px
$headline-three: 1.375rem; // 22px
$paragraph-one: 1.125rem;// 18px
$paragraph-two: 1rem; // 16px
$links: 0.625rem; //10px
$pie-pagina: 0.625rem; //10px



// border
$border-radius: 6px;

// formula de porcentajes
// valor actual ÷ el padre(wrapper) x100
