// Paleta de color principal

$black: #242424;
$brown: #8A5B3B;
$cream: #FFF1DF;
$green-dark: #628469;
$green-ligth: #B1BBA7;
$header_banner: #DF8F63;
$white: #fff;

// Paleta de escala de grises

$gray-dark: #5C605D;
$gray-ligth: #DBDBDB;
$gray-medium: #A7A7A7;

// Fonts

$font-merriweather: 'Merriweather', serif;
$font-quicksand: 'Quicksand', sans-serif;

// Titulos y parrafos

$headlines-font-family: $font-merriweather;
$paragraph-font-family: $font-quicksand;

// Fonts size

$headline-one: 1.875rem; // 30px
$headline-three: 1.375rem; // 22px
$headline-two: 1.625rem; // 26px
$links: 0.625rem; // 10px
$paragraph-one: 1.125rem;// 18px
$paragraph-two: 1rem; // 16px
$paragraph-img: 0.875rem; // 14px
$pie-pagina: 0.625rem; //10px

// border
$border-radius: 6px;

// formula de porcentajes
// valor actual ÷ el padre(wrapper) x100

// breackpoints

$tablet: 768px;
$desktop: 1440px;

